<% include ./partials/header %>



<div class="container" id="containerwidth">
    <h1>
    Sign up
</h1>

    <div class="textbox">
<form action="/register" method="POST"  enctype="multipart/form-data">
    
    
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="first name" name="firstname">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="last name" name="lastname">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="user name" name="username">
    </div>

    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="email address" name="email">
    </div>

     <div class="form-group">
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="re-type password" name="confirm" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
  </div>
     <div class="form-group">
          <textarea class="form-control z-depth-1" id="description" rows="4" placeholder="About yourself" name="about"></textarea>
    </div>
    
     <div class="form-group">
         <textarea class="form-control z-depth-1" id="description" rows="4" placeholder="your hobbies" name="hobbies"></textarea>
    </div>

    <div class="form-group">
        <label for="image">Profile Image</label>
        <input type="file" id="image" name="image" accept="image/*" >
    </div>


    
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

</div>
</div>


<% include ./partials/footer %>