<% include ../partials/header %>

<div class="container" id="containerwidth">
    <h4>Reset Your Password</h4>

    <form method="POST" action="/reset/<%=token%>">

    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
  </div>
  
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="helptxt" placeholder="re-type password" name="confirm" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
</div>


<button type="submit" class="btn btn-primary btn-block">Reset</button>

</form>

</div>

<% include ../partials/footer %>